:root {
  --community: #e28c00;
  --love-and-relationships-that-exist-outside-of-conventional-ideas-of-romantic-and-sexual-relationships: #eccd00;
  --wholeness-as-people-and-representing-platonic-and-nonamorous-relationships: #ffffff;
  --representing-the-aroace-identity: #62aedc;
  --representing-the-aroace-identity: #203856;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}